<div id="servicepage">
 <div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center"><%= @procedure.title %></h1>
      <p><%= @procedure.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <% @procedure.services.each do |item| %>
        <div class="col-md-4">
         <div class="service">
           <div class="service-info">
             <div class="image">
                <%= image_tag item.image,class: 'img-responsive' %>
             </div>
            <div class="info">
              <span class="title">
                  <%= item.title %>
              </span>
              <span class="price-time">
                <%= item.time %> | <%= item.price %>
              </span>
              

            </div>
           </div>
          
           <div class="description">
             <p>
            <%= item.description %>
             </p>
             
           </div>
           <div class="service-button">
               <%= button_tag 'Записаться',class: 'btn btn-default modal-btn',data: {:service => item.title} %>
          </div>
           
           
         </div>
          
        </div>
        <%end%>
  
      </div>
    </div>
    
    </div>
    
  </div>
  <%= render 'customers/new' %>
</div>
  

 

