<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
  </head>

  <body>
   <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-12">
         <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
             <%= image_tag '/assets/weblogo.png',class: 'img-responsive' %>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Главная</a></li>
            <li><a href="/procedures">Услуги</a></li>
            <li><a href="/reviews">Отзывы</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
          
        </div>
        <!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
     
   </header>
   <div id="content">
     <%= yield %>
   </div>
   <div id="footer">
     <div class="container">
       <div class="row">
         <div class="col-md-6 text-center">
            <div class="row contacts">
             <div class="col-md-6">
                <address>
                  <strong>Телефон</strong><br>
                  <i class="fa fa-phone" aria-hidden="true"></i> 093-522-29-03(Viber)<br>
                </address>
                <address>
                  <strong>Почта</strong><br>
                  <i class="fa fa-envelope" aria-hidden="true"></i> n.cherckevich@gmail.com<br>
                </address>
              </div>
              <div class="col-md-6">
                <address>
                  <strong>Наш адрес</strong><br>
                  <i class="fa fa-map-marker" aria-hidden="true"></i> ул. Лермонтовская 19<br>
                </address>
                <address>
                  <strong>График работы</strong><br>
                  <i class="fa fa-calendar" aria-hidden="true"></i> Пон-Сб с 10 до 19<br>
                  Вс-выходной
                </address>
              </div>
              
            </div>
         </div>
         <div class="col-md-6 map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.336481882332!2d36.25408455103888!3d50.00504817931533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0c43811e297%3A0x68cbf341dc6508ad!2z0JvQtdGA0LzQvtC90YLQvtCy0YHRjNC60LAg0LLRg9C70LjRhtGPLCAxOSwg0KXQsNGA0LrRltCyLCDQpdCw0YDQutGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwg0KPQutGA0LDQuNC90LA!5e0!3m2!1sru!2sru!4v1496911025393" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></div>
       </div>
     </div>
   </div>
   
    
    
  </body>
</html>
